.app__menuitem {
    width: 90%;
    margin: 1rem auto;

    display: flex;
    flex-direction: column;
}

.app__menuitem-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__menuitem-sub {
    width: 100%;
    margin-top: 0.2rem;
}

.app__menuitem-name {
    flex: 1;
}

.app__menuitem-dash {
    width: 50px;
    height: 1px;
    background: var(--color-golden);
    margin: 0 1rem;
}

.app__menuitem-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.app__menuitem-head img {
    height: 20vh;
    padding: 0 1em 1em 0;
}

@media screen and (max-width: 2000px) {
}


@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 650px) {
    .app__menuitem {
        width: 100%;
    }
   
}