.meny {
    flex-direction: column;
}

.meny-meny {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu-title {
    flex-basis: calc(50% - 1em); 
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
}


  .meny-heading {
    text-align: center;
    margin-bottom: 40px; 
  }

  .category-wrapper {
    margin-bottom: 3em;
  }
/* .category-divider {
  border-top:0.1px #DCCA87;
  width: 60%;
  border-radius: 5px;
  margin: 20px auto 0;
} */

    
  
  @media screen and (max-width: 651px) {
    .menu-title {
      flex-basis: 100%;
    }
  }