.meny {
    flex-direction: column;
}
.meny-container h2 {
  text-align: center;
}

.card-container {
  display: grid;
  border: 2px solid green;

}
.variant-container {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}
.variant-image {
  max-width: 100%;
}
.meny-meny {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu-title {
    flex-basis: calc(50% - 1em); 
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
}


  .meny-heading {
    text-align: center;
    margin-bottom: 40px; 
  }

  .category-wrapper {
    margin-bottom: 3em;
  }

    
  
  @media screen and (max-width: 1200px) {
    .menu-title {
      flex-basis: 100%;
    }
  }
  @media screen and (max-width: 900px) {
    .meny-meny {
      justify-content: center;
    }
    .app__menuitem-head {
      flex-direction: column;
    }
    .app__menuitem-dash{
      width: 60%;
    }
    .p__opensans, .p__cormorant {
      text-align: center;
    }
  }


  @media screen and (max-width: 651px) {
    .menu-title {
      flex-basis: 100%;
      max-width: 320px;
    }
  }