.header {
    min-height: 40vh;
    text-align: center;
    font-size: 2em;
}

.header-head {
 color: var(--color-golden);
    font-family: var(--font-base);
}
.header-p {
    margin: 1em;

}

.gold {
    color: var(--color-golden);
    font-size: 1.5em;
}