.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    margin: 0 30em;
    text-align: center;
}

.header:hover {
    background: rgba(190, 0, 0, 0.9);
    border-radius: 20px;
}
.header:hover:nth-child(1) {
    margin-bottom: 1em;
}

div a:nth-child(1) {
    margin-bottom: 1em;
}

@media screen and (max-width: 650px) {
    .header {
        margin: 0 5em;
    }
}
@media screen and (min-width: 651px) and (max-width: 1649px) {
    .header {
        margin: 0 10em;
    }
}

@media screen and (min-width: 1650px) {
    .header:hover {
        margin: 0 30em;
    }
} 