.header {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 1.2em;
    margin: 0 5em;
    border-radius: 20px;
}

.header:hover {
    background: rgba(190, 0, 0, 0.9);
}

div a:nth-child(1) {
    margin-bottom: 1em;
}