.menu-navbar {
  position: sticky;
  top: 0;
  z-index: 400;
  display: flex;
  justify-content: center;

}

.menu-navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  border: 1px solid var(--color-golden);
  border-radius: 25px;
  padding: 0.2em 0;
  margin-top: 1em;
  background: #000;
}

.menu-navbar.hidden {
  background: url("../../assets/bg.webp");
  background-size: cover;
  background-position: 20% 20%;
}

.menu-navbar ul li {
  margin: 0 2em;
}

.menu-navbar a:hover {
  border-bottom: 1px solid var(--color-golden); 
}
.menu-navbar a.active {
  color: var(--color-golden);
}
@media screen and (max-width: 1200px) {
  .menu-navbar ul {
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 2em;
  }

  .menu-navbar ul li {
    margin: 0 1em;
  }
}
@media screen and (max-width: 768px) {
  .menu-navbar ul {
    font-size: 16px;
    margin: 1em 1em;
    padding: 0 0.5em;

    
  }
}
@media screen and (max-width: 360px) {
  .menu-navbar ul {
    font-size: 14px;  
    margin: 1em 0.6em;  
  }
}