.navbar {
    background: var(--color-black);
}

.upper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20%;
    margin: 0rem 8rem;
    padding: 0 2rem;
    /* 
    border: 1px solid white; */
}
/* .homedelivery {
    margin: 0 2rem;
} */

.navbar img {
    width: 20%;
}

/* .upper a {
    border: 1px solid white;
} */

.lower {
    margin: 0 5rem;
    padding: 1rem 2rem;
    /* 
    border: 1px solid white; */
}
.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.lower li {
    list-style-type: none;
}

span {
    color: var(--color-golden);
}

.navbar-smallscreen {
    display: none;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 20px;
    margin-right: 5px;
    padding: 5px;
}

.navbar-smallscreen_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    transition: .5s ease;

    flex-direction: column;
    z-index: 5;
}

.navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
}

@media screen and (max-width: 997px) {
    .navbar-links, .homedelivery {
        display: none;
    }

    .navbar-smallscreen {
        display: flex;
        cursor: pointer;
    }
/*     .app__navbar-smallscreen:hover{
        border: 2px solid var(--color-golden);
    } */
}

@media screen and (max-width: 650px) {
    .navbar {
        padding: 1rem;
    }

    .upper, .lower {
        display: none;
    }

    /* nav img {
        width: 110px;
    } */
}