.footer-logo {
    display: flex;
    justify-content: center;
}
.footer-logo img {
    height: 30vh;
    margin-bottom: 3rem;
}


.info {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 0 2em;
}

.info p {
    margin: 0.4em 0;
}
.bottom {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
   
}

.bottom a {
    margin: 2% 3rem;
    text-decoration: none;
    transition: 0.5 ease;
    color: var(--color-golden);
    
}
.bottom a:hover {
    text-decoration: underline;

}

@media screen and (max-width: 1150px) {
    .footer-logo img {
        height: 15vh
    }
    .info {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1150px) {
    .info {
        font-size: 0.6rem;
        margin: 0 0;
    }
}